body {
	background-color: #201f28;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1200px;
	padding: 0px 20px;
	margin: 0 auto;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider__image-holder {
	height: 500px;
	width: 800px;
	border: 2px black solid;
}

.slider__image {
	height: 500px;
	width: 800px;
	object-fit: cover;
}
